{% extends 'base.html' %}


{%block titulo%}{{titulo}}{%endblock%}

{%block conteudo%}
<h1 class="mb-3 mt-3">Cadastro</h1>

<form method="POST" action="{% url 'cadastro' %}">
    {% csrf_token %}
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" name="nome" value="{{ request.POST.nome }}">
    </div>

    <div class="form-group">
        <label>Sobrenome</label>
        <input type="text" class="form-control" name="sobrenome" value="{{ request.POST.sobrenome }}">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{ request.POST.email }}">
    </div>

    <div class="form-group">
        <label>Usuário</label>
        <input type="text" class="form-control" name="usuario" value="{{ request.POST.usuario }}">
    </div>

    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" name="senha">
    </div>

    <div class="form-group">
        <label>Repetir Senha</label>
        <input type="password" class="form-control" name="senha2">
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>


{%endblock%}
