{% extends 'base.html' %}


{%block titulo%}{{titulo}}{%endblock%}


{%block conteudo%}
<h1 class="mb-3 mt-3">Login</h1>

{% if not user.is_authenticated %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label>Usuário</label>
        <input type="text" class="form-control" name="usuario" value="{{ request.POST.usuario }}">
    </div>

    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" name="senha">
    </div>

    <button type="submit" class="btn btn-primary">Logar</button>
</form>
{% else %}
<p>Você fez login com {{user}}, <a href="{% url 'logout' %}">Clique aqui para sair</a></p>

{% endif %}

{%endblock%}
